<%= form_for :reservation, :url => {:action => "create", :controller => "reservation"} , :html => { :method => "post"} do | f | %>
  <div class="row justify-content-md-center align-items-center">
    <form class="form-inline">
      <label class="col-1">Room:</label>
      <%= f.select "choosen_room", options_from_collection_for_select(@rooms, "id", "name"), class: '' %>
      <label class="">Capacity:</label>
      <label class="">Reserve From:</label>
      <%= f.text_field :start_date, 'start_date' => 'datetimepicker', class: 'glyphicon glyphicon-date' %>
      <label class="">To:</label>
      <%= f.text_field :end_date, 'end_date' => 'datetimepicker2', class: 'glyphicon glyphicon-time' %>

      <script type="text/javascript">
        $('[start_date~=datetimepicker]').datetimepicker({ minDate: new Date(), format: 'YY-MM-DD HH:mm' });
      </script>
      <script type="text/javascript">
        $('[end_date~=datetimepicker2]').datetimepicker({format: 'HH:mm'});
      </script>

      <%#= link_to 'Reserve', create_reservation_path, method: :post %>
      <%#= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= f.submit 'Reserve', class: 'btn btn-primary' %>
    </form>
  </div>  
<% end %>