<header class="main-header">
  <%= link_to 'Room Reservations', root_url, class: 'logo' %>
  <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <% if current_user.present? %>
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
            <span class="hidden-xs"><%= current_user.email %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img class="img-circle" alt="User Image" src="http://placehold.it/160x160"> </img>
                <p>
                  <%= current_user.email %>
                  <small><%= current_user.remember_created_at %></small>
                </p>
              </li>
              <li class="user-body">
                <div class="text-center">
                  <%= link_to 'My reservations', reservations_user_path, :class => 'navbar-link btn btn-default btn-flat' %>
                </div>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link btn btn-default btn-flat' %>
                </div>
                <div class="pull-right">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn btn-default btn-flat'  %>
                </div>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>